*{
    background-color:lightgoldenrodyellow;
} 

.error {
    color:red;
}

.hi{
    background-color: lightgoldenrodyellow;
    color:purple;
    border:solid darkgreen 3px;
    text-align:center;
}    

